In [2]:
#print natural numbers 
n=int(input())
for i in range(1,n+1):
    print(i,end=' ')

4
1 2 3 4

In [3]:
#print multiples of 3
a=int(input())
b=int(input())
for i in range(a,b+1,1):
    if(i%3==0):
        print(i)

4
10
6
9

In [5]:
#print multiples of 3
a=int(input())
b=int(input())
if a%3==0:
    s=a
elif a%3==1:
    s=a+2
else:
    s=a+1
for i in range(s,b+1,3):
    print(i)

5
15
6
9
12
15

In [7]:
#print first x Terms of series 3N+2 which are not multiples of 4
r=int(input())
cnt=0
for i in range(1,1001):
    val=3*i+2
    if(val%4!=0):
        print(val)
        cnt=cnt+1
    if(cnt==r):
        break

4
5
11
14
17

In [11]:
#sum or product 
num=int(input())
c=int(input())
match c:
    case 1:
        print("Do sum")
        ans=(num*(num+1))/2
        print("the sum of 1 to n: ",ans)
    case 2:
        print("Do production")
        ans=1
        for i in range(1,num+1):
            ans=ans*i;
        print("the production of 1 to n: ",ans)
    case _:
        print("wrong apply")

10
2
Do production
the production of 1 to n:  3628800

In [12]:
i=3
if i<7:
    pass
print("hi")

hi

In [ ]:
i=1
while(i<=3):
    pass
    i=i+1
print